<form [formGroup]="form" (ngSubmit)="save()" class="p-6 space-y-4 bg-white shadow-lg rounded-lg">
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Title</mat-label>
    <input matInput type="text" formControlName="title" required>
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="description" required></textarea>
  </mat-form-field>
  <mat-form-field appearance="fill" class="w-full">
    <mat-label>Author</mat-label>
    <input matInput type="text" formControlName="author" required>
  </mat-form-field>
  <div *ngIf="form.controls.image.value" class="my-4">
    <img [src]="form.controls.image.value | formatImagePath" alt="Book image"
         class="w-64 h-32 object-cover rounded-md border"/>
  </div>
  <button mat-raised-button color="primary" type="button" appSelectFile (fileSelected)="handleFileChange($event[0])">
    Select Image
  </button>
  <button mat-raised-button color="accent" type="submit" [disabled]="form.invalid">Save Book</button>
  <button mat-button color="warn" type="button" routerLink="../">Cancel</button>
</form>
